/*

!/.gitignore
!/.profile
!/.xprofile
!/.zprofile

!/gtkrc-2.0

!/.ssh
/.ssh/*
!/.ssh/config

!/.config
/.config/*
!/.config/gh/config.yml

shortcutrc
shortcuts.*

!/.config/shell
/.config/shell/*
!/.config/shell/aliasrc
!/.config/shell/bm-files
!/.config/shell/bm-dirs
!/.config/shell/inputrc
!/.config/shell/profile

!/.config/zsh
/.config/zsh/*
!/.config/zsh/plugins
!/.config/zsh/command-tools.zsh
!/.config/zsh/zprofile
!/.config/zsh/.zshrc

!/.config/terminal-colors.d
!/.config/wget
!/.config/ssh
!/.config/htop
!/.config/gotop
!/.config/tmux
!/.config/nvim
!/.config/lf
!/.config/sc-im
!/.config/yt-dlp
!/.config/ipython

!/.config/gtk-2.0
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/lxsession
!/.config/X11

!/.config/i3
!/.config/i3blocks
!/.config/jgmenu
!/.config/keepassxc
!/.config/zathura
!/.config/Zeal

!/.local
/.local/*
!/.local/bin
/.local/bin/.st*

!/.local/share
/.local/share/*
!/.local/share/fzf
/.local/share/fzf/*
!/.local/share/applications

